In [ ]:
# Here are Booleans

In [4]:
print(10 > 9)
print(10 == 9)
print(10 < 9)  #by Nurassyl

True
False
False

In [5]:
a = 99999
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [3]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [7]:
x = 200
print(isinstance(x, str))

False

In [8]:
#---------------------------------------------------------

In [ ]:
#Here are Operators by Nurassyl

In [9]:
print(10 + 5*5 - 2**6)

-29

In [1]:
#---------------------------------------------------------

In [2]:
#Here are Lists

In [4]:
thislist = ["apple", "banana", "cherry", "Nurassyl"]
print(thislist)

['apple', 'banana', 'cherry', 'Nurassyl']

In [6]:
list1 = ["Nurassyl", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list1.extend(list2)
print(list1)

['Nurassyl', 'banana', 'cherry', 1, 5, 7, 9, 3]

In [10]:
list1 = ["Nurassyl", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list1.extend(list2)
print(list1[0])
print(list1[3:5])
print(list1[:4])
print(list1[-4:-1])
if "Nurassyl" in list1:
    print("Yes, 'Nurassyl' in the list1")

Nurassyl
[1, 5]
['Nurassyl', 'banana', 'cherry', 1]
[5, 7, 9]
Yes, 'Nurassyl' in the list1

In [12]:
list1 = ["Nurassyl", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list1.extend(list2)
list1[0]="Nur"
print(list1)
list1[1:3]=["Anime", "my love"]
print(list1)
list1.insert(2, "code")
print(list1)

['Nur', 'banana', 'cherry', 1, 5, 7, 9, 3]
['Nur', 'Anime', 'my love', 1, 5, 7, 9, 3]
['Nur', 'Anime', 'code', 'my love', 1, 5, 7, 9, 3]

In [13]:
list1 = ["Nurassyl", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list1.extend(list2)
list1.append(555)
print(list1)

['Nurassyl', 'banana', 'cherry', 1, 5, 7, 9, 3, 555]

In [14]:
list1 = ["Nurassyl", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list1.extend(list2)
list1.remove("banana")
print(list1)
list1.pop(1)
print(list1)
del list1[0]
print(list1)
list1.clear()
print(list1)

['Nurassyl', 'cherry', 1, 5, 7, 9, 3]
['Nurassyl', 1, 5, 7, 9, 3]
[1, 5, 7, 9, 3]
[]

In [17]:
list1 = ["Nurassyl", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list1.extend(list2)
for x in list1:
    print(x)
i=0
while i<len(list1):
    print(list1[i])
    i+=1
print([x for x in list1 ])

Nurassyl
banana
cherry
1
5
7
9
3
Nurassyl
banana
cherry
1
5
7
9
3
['Nurassyl', 'banana', 'cherry', 1, 5, 7, 9, 3]

In [18]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [19]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [20]:
nurassyl = [x for x in range(10) if x < 5]
print(nurassyl)

[0, 1, 2, 3, 4]

In [23]:
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [24]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [26]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)
this = ["orange", "mango", "kiwi", "pineapple", "banana"]
this.sort(reverse = True)
print(this)

[23, 50, 65, 82, 100]
['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [27]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [28]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [30]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy() #copy by Nurassyl
print(mylist)

['apple', 'banana', 'cherry']

In [31]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [7]:
#---------------------------------------------------------

In [ ]:
#Here are Tuples

In [32]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [35]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)
print(thistuple[0])

('apple', 'banana', 'cherry', 'apple', 'cherry')
apple

In [34]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [36]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [37]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [38]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [39]:
#--------------------------------------------------------------------

In [40]:
#Here are Sets by Nurassyl

In [44]:
thisset = {"apple", "banana", "cherry"}
print(thisset)
myset = {"apple", "banana", "cherry"}
print(type(myset))

{'apple', 'cherry', 'banana'}
<class 'set'>

In [45]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)
print("banana" in thisset)

apple
cherry
banana
True

In [48]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)
print(tropical)
thisset.remove("banana")
print(thisset)
thisset.discard("banana")
print(thisset)
x = thisset.pop()
print(x)
print(thisset)
thisset.clear()
print(thisset)

{'mango', 'papaya', 'pineapple', 'banana', 'apple', 'cherry', 'orange'}
{'mango', 'papaya', 'pineapple'}
{'mango', 'papaya', 'pineapple', 'apple', 'cherry', 'orange'}
{'mango', 'papaya', 'pineapple', 'apple', 'cherry', 'orange'}
mango
{'papaya', 'pineapple', 'apple', 'cherry', 'orange'}
set()

In [49]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [51]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2) # or set3 = set1 | set2
print(set3)

{1, 'b', 'a', 2, 3, 'c'}

In [52]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 'a', 3, 'bananas', 'apple', 'Elena', 'cherry', 'John', 'b', 'c'}

In [53]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 'a', 3, 'b', 'c'}

In [54]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'b', 'a', 2, 3, 'c'}

In [55]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [56]:
#--------------------------------------------------------------------

In [ ]:
#Here are Dictionaries

In [59]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(thisdict["brand"])
print(len(thisdict))
print(type(thisdict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford
3
<class 'dict'>

In [62]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")
thisdict.update({"year": 2020})
print(thisdict)
thisdict.pop("model")
print(thisdict)
thisdict.popitem()
print(thisdict)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])
Yes, 'model' is one of the keys in the thisdict dictionary
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
{'brand': 'Ford', 'year': 2020}
{'brand': 'Ford'}

In [63]:
for x in thisdict:
  print(x)

brand

In [64]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [66]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [68]:
print(myfamily["child2"]["name"])
for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

Tobias
child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

In [69]:
#--------------------------------------------------------------

In [ ]:
#Here are IF...Else

In [70]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [71]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [72]:
#--------------------------------------------------------------

In [ ]:
#here is while loop

In [73]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [74]:
#--------------------------------------------------------------

In [ ]:
#Here is for loop

In [75]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [76]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [77]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry